.header div{
  display: inline-block;
}

.main-crumbs {
  color: #9c3328;
  font-size: 2rem;
  margin-left: 2.5em;
  margin-top: 0.5em;
  padding-left: 2em;
}

.chapters {
  color: #00B7FF;
  margin-left: 2.5em;
}

.chapters li div {
  display: inline-block;
}

.chapterOper {
  margin-bottom: 0.4em;
}

.chapterContainer {
  margin-bottom: 1em;
}
