  <h4><i class="fa fa-windows fa-lg">管理页面</i></h4>

  <div class="row row-offcanvas row-offcanvas-right main-wrapper">
    <div class="col-6 col-md-2 sidebar-offcanvas">
      <div class="list-group-item list-group-title">选项</div>
      <div class="list-group">
        <i class="fa fa-check fa-lg"></i><a routerLink="categories" class="list-group-item none">  类别管理</a>
        <i class="fa fa-tree fa-lg"></i><a routerLink="articles" class="list-group-item none">  文章管理</a>
        <i class="fa fa-user-plus fa-lg"></i><a routerLink="users" class="list-group-item none">  用户管理</a>
        <i class="fa fa-list fa-lg"></i><a routerLink="comments" class="list-group-item none">  评论管理</a>
        <i class="fa fa-calendar-times-o fa-lg"></i><a routerLink="systems" class="list-group-item none">  系统管理</a>
      </div>
    </div>

    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
