    <article class="post" *ngIf="article">
      <div class="post-head">
        <h1>{{ article.Title }}</h1>
      </div>

      <div class="post-meta">
        <span class="author">作者: {{ article.Author }}</span>
        <time class="post-date">{{article.PublishDate}}</time>
      </div>
      <div class="post-meta1">
        <i class="fa fa-thumbs-o-up" (click)="onLike(article)">喜欢 {{ article.Likes }}</i>
        <i class="fa fa-thumbs-o-down" (click)="onUnLike(article)">不喜欢 {{ article.UnLikes }}</i>
      </div>
      <div class="post-content">
        <p [innerHTML]="article.Content"></p>
      </div>

      <footer class="post-footer clearfix"></footer>
      <div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div>
    </article>

