<div class="row">
    <div class="col-md-12">
    <article class="post" *ngIf="article">
      <div class="post-head">
        <h1>{{ article.Title }}</h1>
      </div>

      <div class="post-meta">
        <span class="author">作者: {{ article.Author }}</span>
        <time class="post-date">{{article.PublishDate}}</time>
      </div>
      <div class="post-meta1">
        <i class="fa fa-thumbs-o-up" >喜欢 {{ article.Likes }}</i>
        <i class="fa fa-thumbs-o-down" >不喜欢 {{ article.UnLikes }}</i>
      </div>
      <div class="post-content">
        <p [innerHTML]="article.Content"></p>
      </div>

      <footer class="post-footer clearfix"></footer>
      <div class="bshare-custom"><div class="bsPromo bsPromo2"></div>
        <!--<a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a>
        <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
        <a title="分享到QQ空间" class="bshare-qzone" href="javascript:void(0);">
        </a><a title="分享到Facebook" class="bshare-facebook" href="javascript:void(0);"></a>
        <a title="分享到Twitter" class="bshare-twitter" href="javascript:void(0);"></a>-->
        <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
      <footer class="post-footer clearfix"></footer>
      </div>
    </article>
    </div>
</div>

