<div class="main-crumbs">类别管理</div>
<div class="btn-group">
  <button type="button" class="btn btn-default" (click)="onSelectList()">类别列表</button>
  <button type="button" class="btn btn-default" (click)="onSelectNew()">添加类别</button>
</div>
<br/>

<div class="container" *ngIf="oper===2">
  <label><i class="fa fa-plus-square" aria-hidden="true">添加类别</i></label>
  <form (ngSubmit)="onAddCategory()" #newCategoryForm="ngForm">

    <div class="form-group">
      <label for="Name">类别名称:</label>
      <input type="text" class="form-control" id="Name" [(ngModel)]="newCategory.Name" name="categoryName" required #categoryName="ngModel"/>
    </div>
    <div [hidden]="categoryName.valid || categoryName.pristine" class="alert alert-danger">
      必须输入名字.
    </div>

    <div class="form-group">
      <label>父类别</label>
l      <select [(ngModel)]="newCategory.ParentName" name="cateParent" class="form-control">
       <option *ngFor="let cate of allShowCategories" [value]="cate.Name">{{cate.ShowName}} {{ cate.Type}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>类型</label>
          <select [(ngModel)]="newCategory.Type" name="cateType" class="form-control">
           <option [value]=0>普通</option>
           <option [value]=1>教程(支持文章章节)</option>
          </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!newCategoryForm.form.valid">添加</button>
  </form>
</div>

<br/>
<div class="row col-12 col-md-10" *ngIf="oper===1">
  <ul class="categorieList">
    <li *ngFor="let cate of allRootCategories">
      <div>
        <i class="fa fa-file-o"></i>
      </div>
      <div>
      <a>{{cate.Name}}</a>
      </div>
      <div class="addSub">
       <a (click)="onAddSubCategory(cate)">添加子类别</a>
      </div>
      <div class="addSub" *ngIf="cate===addParent">
        <app-category-add [parent]="cate" (evAddResult)="addComplete($event)"></app-category-add>
      </div>

     <ul class="subCategorieList">
       <li *ngFor="let subcate of getAllChildren(cate)">
        <div class="substyle">
         <i class="fa fa-files-o" aria-hidden="true"></i>
        </div>
         <div class="subName">
           <input type="text" [disabled]=true [(ngModel)]="subcate.Name">
         </div>
         <div class="type">
          <a *ngIf="subcate.Type === 1">支持章节</a>
          <a *ngIf="subcate.Type === 0">普通</a>
         </div>
         <div class="operCategory">
           <a (click)="deleteCategory(subcate)">删除</a>
           <a *ngIf="subcate.Type===1" (click)="addChapterSectionForCategory(subcate)">添加章节</a>
         </div>
         <app-category-add-chapters *ngIf="subcate===addChapterCategory" [category]="subcate"></app-category-add-chapters>
        <!-- <div class="operCategory">
           <a *ngIf="subcate!=editCategory" (click)="editSubCategory(subcate)">编辑</a>
           <a *ngIf="subcate==editCategory" (click)="confirmEditSubCategory(subcate)">确认</a>
           <a *ngIf="subcate==editCategory" (click)="cancelEditSubCategory(subcate)">取消</a>
           <a>删除</a>
         </div>-->
       </li>

     </ul>
    </li>
  </ul>
</div>

<div class="row" *ngIf="edit===1">
  <app-category-add-chapters [category]="addChapterCategory"></app-category-add-chapters>
</div>
